@page "/"
@inject IMoviesRepository  moviesRepository
    <div>
        <h3>
            In theaters
        </h3>
        <MoviesList Movies="Intheaters" />

        <h3>
            Up Coming Releases
        </h3>
        <MoviesList Movies="upcomingReleases" />
    </div>
@code{
    private List<Movie> Intheaters;
    private List<Movie> upcomingReleases;
    protected  async override  Task OnInitializedAsync()
    {

        var response = await moviesRepository.GetIndexPageDTO();
        Intheaters = response.Intheaters;
        upcomingReleases = response.UpcomingReleases;
    }

}